*{
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#sketch-holder{
    display: block;
    margin: 10px 30px;
}

#opciones{
    margin: 20px;
}

label{
    padding: 0 10px;
}

input[type=number] {
    width: 50px;
}